header {
	background-color: #333;
	color: white;
	padding: 1em;
}
nav {
	color:black;
	padding: 1em;
} ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: black;*/
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color:rgba(252, 252, 252, 0.918);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  header {
	background-color: #333;
	color: white;
	padding: 1em;
}

header h1 {
	margin: 0;
}
  li a:hover {
	background-color: rgb(14, 1, 1);
	color: rgb(236, 235, 235);
  }
  .button {
	border-radius: 10px;
	border: none;
	color: #ffe6e6;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 1350px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	cursor: pointer;
	position: center;
	transition: 0.5s;
	background-color: rgba(165, 42, 42, 0);
  }
  
  .button:after {
	content: '\00bb';
	position: relative;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover  {
	padding-right: 25px;
  }
  
  .button:hover:after {
	opacity: 1;
	right: 0;
  }
