.reg{
    position: center;
    padding-top: 250px;
    padding-bottom: 100px;
    padding-left: 650px;
    color: rgb(214, 186, 85);
    font-weight: bold;

}
body{
    background:url(backg.jpeg);
}
